#index {
    font-size: 1.5rem;
    .list {
        width: 100%;
        padding: 1.2rem;
        ul {
            background: #fff;
            .item {
                width: 100%;
                box-shadow: 0 0 19px rgba(0, 0, 0, .19);
                border-radius: 9px;
                margin-bottom: 1.2rem;
                background: #fff;
                .head {
                    padding: 1.2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #ddd;
                    img {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 2rem;
                    }
                }
                .user-desc{
                    padding: 1.2rem;
                    div{
                        padding: .19rem;
                    }
                }
            }
        }
    }
}