#set-user-info {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    background: #fff;
    text-align: center;
    p {
        font-size: 2.5rem;
        padding: 3rem 0;
    }
    .user-avatar {
        width: 100%;
        height: 5rem;
        margin-bottom: 3rem;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            padding: 0 3rem;
            li {
                width: 5rem;
                height: 100%;
                border-radius: 2.5rem;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 2.5rem;
                    filter: grayscale(100%);
                }
                &.show-color {
                    img {
                        filter: none;
                    }
                }
            }
        }
    }
    .user-info {
        p {
            font-size: 1.4rem;
            padding-bottom: 1rem;
        }
        input,
        textarea {
            width: 75%;
            height: 4rem;
            font-size: 1.5rem;
            padding-left: 1.2rem;
            text-align: center;
            border-radius: 2rem;
            box-shadow: 0 0 9px rgba(0, 0, 0, .3);
        }
        .self-introduction,
        .job-introduction {
            textarea {
                padding-top: 1rem;
                height: 9rem;
                border-radius: 1rem;
                text-align: left;
            }
        }
        .boss {
            p {
                padding: 1.15rem 0;
            }
            .job-introduction {
                textarea {
                    height: 5.9rem;
                }
            }
        }
    }
    .save {
        padding-top: 5rem;
        button {
            width: 75%;
            height: 4rem;
            border-radius: 2rem;
            background: rgb(25, 204, 70);
            color: #fff;
        }
    }
}