* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: pan-y;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

#root {
    width: 100%;
    height: 100%;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

input,
button,
textarea {
    border: none;
    outline: none;
    -webkit-appearance:none;
}

.am-toast {
    font-size: 1.5rem !important;
}

ul li {
    list-style: none;
}