.login {
    .login-form{
        width:100%;
        position: fixed;
        top: 50%;
        left: 0;
        z-index: 999;
        text-align: center;
        font-size: 0rem;
        transform: translate(0,-80%);
        p{
            text-align: center;
            color: #fff;
            font-size: 3rem;
            padding-bottom: 9rem;
        }   
        input,button{
            width: 75%;
            height: 4rem;
            border-radius: 2rem;
            margin: 15px 0;
            font-size: 1.4rem;
            text-align: center;
            color: #333;
        }
        button{
            background: rgb(25, 204, 70);
            margin-top: 2rem;
            color: #fff;
        }
    }
    .go-register{
        color: #fff;
        position: fixed;
        z-index: 999;
        width: 100%;
        text-align: center;
        bottom: 3rem;
        font-size: 1.2rem;
        padding: 1rem 0;
    }
}